DJANGO_SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key-in-prod
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
ATTENDANCE_GRACE_PERIOD=15
ATTENDANCE_LATE_LIMIT=60
